.main {
    background-color: blue;
    border-radius: 10px;
    height: 500px;
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.light {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    left: 65px;
    background-color: #ccc;
}

#red {
    top: 30px;
}

#yellow {
    top: 190px;
}

#green {
    top: 350px;
}